@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-purple-2;
  max-width: 100%;
  overflow-x: hidden;
}

.gradient-background {
  background: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
}

button {
  @apply py-3 px-10 font-medium text-base rounded flex items-center justify-center capitalize;
}

button:hover {
  @apply brightness-90 transition;
}

.btn-text {
  @apply text-purple-2;
}

.btn-contained {
  @apply bg-purple-2 text-white gradient-background;
}

.btn-outlined {
  @apply border border-purple-2  text-purple-2;
}

.line {
  @apply border-b border-white/20;
}

h2 {
  @apply text-xl md:text-3xl  leading-tight font-bold font-clashDisplay;
}

h3 {
  @apply font-medium text-2xl md:text-3xl font-clashDisplay;
}

h4 {
  @apply font-bold text-xs md:text-2xl font-clashDisplay;
}

.form-input,
.form-textarea,
.form-select,
.form-multiselect {
  @apply w-full rounded-md border border-gray-1 bg-white px-4 py-2 text-sm font-normal text-gray-1 !outline-none focus:border-purple-2 focus:ring-transparent;
}

.form-input-lg,
.form-textarea-lg,
.form-select-lg,
.form-multiselect-lg {
  @apply py-2.5 text-base;
}
.form-input-sm,
.form-textarea-sm,
.form-select-sm,
.form-multiselect-sm {
  @apply py-1.5 text-xs;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  10% {
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -ms-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.rotating {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
}

@-webkit-keyframes brighten {
  0% {
    filter: brightness(100%);
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    filter: brightness(70%);
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes brighten {
  0% {
    filter: brightness(100%);
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    filter: brightness(70%);
    transform: scale(0.2);
    -ms-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
  }
}
