.hero {
  position: relative;
  background-image: url("/images/hero/purple_lens_mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  background-blend: multiply;
}

.innova,
.h1,
.c,
.version {
  position: relative;
}

.innova::after {
  content: "";
  right: 0;
  position: absolute;
  top: 105%;
  min-width: 115px;
  min-height: 20px;
  background-image: url("/patterns/line.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.h1::before {
  content: "";
  left: 30%;
  position: absolute;
  top: -40%;
  min-width: 14px;
  min-height: 14px;
  background-image: url("/patterns/star_white.svg");
  -webkit-animation: brighten 10s linear infinite;
  -moz-animation: brighten 10s linear infinite;
  -ms-animation: brighten 10s linear infinite;
  -o-animation: brighten 10s linear infinite;
  animation: brighten 10s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.h1::after {
  content: "";
  left: 80%;
  position: absolute;
  top: -50%;
  min-width: 8px;
  min-height: 8px;
  background-image: url("/patterns/star.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.c::before {
  content: "";
  left: 30%;
  position: absolute;
  top: -60%;
  width: 18px;
  height: 28px;
  background-image: url("/patterns/bulb.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.hero_text {
  position: relative;
}

.hero_text::after {
  content: "";
  left: 95%;
  position: absolute;
  top: 75%;
  width: 9px;
  height: 9px;
  background-image: url("/patterns/star.svg");
  -webkit-animation: brighten 10s linear infinite;
  -moz-animation: brighten 10s linear infinite;
  -ms-animation: brighten 10s linear infinite;
  -o-animation: brighten 10s linear infinite;
  animation: brighten 10s linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.version::before {
  content: "";
  right: -30px;
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  background-image: url("/patterns/chain.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

.version::after {
  content: "";
  right: -60px;
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  background-image: url("/patterns/bomb.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

@media (min-width: 768px) {
  .innova::after {
    min-width: 200px;
    min-height: 25px;
  }
  .h1::before {
    min-width: 30px;
    min-height: 30px;
    left: 15%;
    top: -55%;
  }
  .h1::after {
    min-width: 28px;
    min-height: 28px;
    left: 90%;
  }
  .c::before {
    width: 40px;
    height: 60px;
    top: -80%;
  }
  .version::before {
    height: 40px;
    width: 40px;
    right: -40px;
  }
  .version::after {
    height: 40px;
    width: 40px;
    right: -80px;
  }
}

@media (min-width: 1024px) {
  .innova::after {
    min-width: 250px;
    min-height: 30px;
  }
  .h1::before {
    min-width: 34px;
    min-height: 34px;
    left: 15%;
    top: -55%;
  }
  .h1::after {
    min-width: 32px;
    min-height: 32px;
    left: 90%;
  }
  .c::before {
    width: 53px;
    height: 73px;
    top: -70%;
  }
  .version::before {
    height: 55px;
    width: 55px;
    right: -55px;
  }
  .version::after {
    height: 55px;
    width: 55px;
    right: -110px;
  }
}
